<html>
  <head></head>
  <body>
    <h1>Caesar Cipher</h1>
    <p>
      <%= message %>
    </p>
    <p>
      Please enter text to encrypt and the shift value
    <p>
    <form>
      Text: <textarea cols='31' rows ='5' name='string' /></textarea><br />
      Shift: <input type='number' name='shift' />
      <input type='submit' value='Encrypt' />
    </form>
  </body>
</html>